body {
    display: grid;
    grid-template: 1fr/ 1fr;
    justify-items: center;
    align-items: center;
}
img {
    width: 100%;
}
@media all and (min-width: 500px){
    img {
        width: 80%;
        position: fixed;
        top:-290px;
    }
}